/* source: http://www.ehow.com/how_12214447_make-collapsing-lists-java.html */
#collapserID {
    margin-left: 25px;
}

#DepBuildId { 
    vertical-align: top; 
    height:auto !important; 
    float: left;
    height: auto;
    width: 90%;
    line-height: 15px;
    padding-left: 10px;
    margin-bottom: 5px; 
}

#DepedentBuildsId {
    display:none; 
    height:auto;
    margin-left: 0px;
    float: left;
}
.show {
    display: none; 
}
.hide:target + .show {
    display: inline; 
}
.hide:target {
    display: none; 
}
.hide:target ~ #DepedentBuildsId {
    display:inline; 
}

.hide, .show {
	width: 15px;
	height: 15px;
	border-radius: 0px;
	font-size: 10px;
	color: black;
	text-shadow: 0 1px 0 #666;
	text-align: center;
	text-decoration: none;
	box-shadow: 1px 1px 2px #000;
	background: white;
	opacity: .95;
	margin-right: 0;
	float: left;
	margin-bottom: 5px;
}

.hide:hover, .show:hover {
	color: #eee;
	text-shadow: 0 0 1px #666;
	text-decoration: none;
	box-shadow: 0 0 4px #222 inset;
	opacity: 1;
	margin-bottom: 0px;
}

#repository-listeners-table {
    display: none;    
}

#DepedentBuildsId {
    width: 500px;
}

.advanced-field-label {
    text-align: left;
    margin-right: 25px;
    margin-left: 50px;
}


.advanced-field-group {
    width: 500px;
    margin-left: 150px;
}

