#triggers-table>colgroup>col:nth-child(3),
#triggers-table>colgroup>col:nth-child(4),
#triggers-table>colgroup>col:nth-child(5) {
    width: 18%;
}

#triggers-table>colgroup>col:nth-child(6) {
    width: 85px;
}

#triggers-table>tbody>tr>td:nth-child(3)
#triggers-table>tbody>tr>td:nth-child(4)
#triggers-table>tbody>tr>td:nth-child(5) {
    padding: 7px 10px 7px 16px;
}

#triggers-table>tbody>tr>td:nth-child(6) {
    padding: 7px 10px 7px 20px;
}
